<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title> Transger Quiz</title>
    </head>
    <body>
        <div id="app">
            <child-component v-bind:propsdata="message"></child-component>
            <sibling-component v-bind:sibling="anotherMessage"></sibling-component>
        </div>
    </body>
    <script src="http://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="app.js"></script>

</html>
